PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.bdf1zlp.mongodb.net/rvrjcce_events?retryWrites=true&w=majority&appName=Cluster0
ADMIN_USERNAME=admin
ADMIN_PASSWORD=rvrjcce@2026
JWT_SECRET=rvrjcce_super_secure_jwt_token_2026
NODE_ENV=development
